.ut-hero.hero--blue-bar .relative {
  position: relative;
  min-height: 675px;
}

.ut-hero.hero--blue-bar .hero-callout {
  background-color: #ffffff;
  margin-right: -10rem;
  margin-left: 4rem;
  padding: 3rem;
}

.ut-hero.hero--blue-bar .hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  object-position: center;
}

.hero-gray-block {
  background-color: #c3ced4;
  height: 100%;
  width: 43%;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 6rem;
}

.ut-hero.hero--blue-bar img {
  min-height: 675px;
  width: auto;
  object-fit: cover;
}

.ut-hero.hero--blue-bar .hero-headline {
  color: #333f48;
  font-size: 45px;
  font-weight: 600;
  font-family: "GT Sectra", georgia, serif;
  line-height: 50px;
  margin-bottom: 40px;
  padding: 0;
}

.headline-underline {
  background-color: #bf5700;
  width: 80px;
  height: 3px;
  margin-bottom: 40px;
}

.ut-hero.hero--blue-bar .hero-subhead {
  color: #333f48;
  margin-bottom: 40px;
}
.ut-hero.hero--blue-bar .hero-cta a {
  text-transform: uppercase;
}
.ut-hero.hero--blue-bar .hero-cta a::after {
  -webkit-mask-image: none;
  mask-image: none;
  background-color: transparent;
  width: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid rgba(255,255,255,.2);
  height: 1.25rem;
  padding-left: 1.75rem;
  margin-left: 1rem;
  background-image: url(../images/right-arrow-white.png);
  background-repeat: no-repeat;
  background-position: right center;

}
