/* Header styling */
header.ut-header {
  padding-top: 0;
  border-bottom: 1px solid #c4cdd4;
}
.brandbar {
  height: .5rem !important;
  background: #bf5700;
}
.container-topnav {
  background: transparent;
}
.header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.header-top .parent-banner-links {
  flex: 1 1 auto;
  align-self: center;
}
.header-top .parent-banner-links a,
.header-top .parent-banner-links h2 {
  display: inline-block;
  font-size: .85rem;
  margin-bottom: 0;
  font-weight: bold;
}
.header-top .parent-banner-links h2 a {
  font-weight: normal;
  font-size: 1rem;
  font-family: "CharisSil", Georgia, serif;
  font-style: italic;
  color: #1f262b;
}
header.ut-header .region-header-secondary {
  flex-direction: unset;
}
.header-top .header-menu-links {
  flex: 1 1 auto;
  line-height: 25px;
}
.header-top .header-menu-links .region-header-secondary {
  float: right;
 }
header.ut-header .region-header-tertiary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header.ut-header .region-header-secondary > nav {
  margin: 0;
}
header.ut-header .region-header-tertiary [id^="block-sitewidesociallinks"] {
  margin-bottom: 1rem;
}
ul.header-menu__list .header-menu__list-item {
  margin-bottom: 0;
  display: inline;
}
header.ut-header #ut-main_menu-wrapper {
  top: 60px;
}
header.ut-header #ut-main_menu-wrapper.active {
  flex-direction: column;
}
.ut-header-wrapper .block-system-branding-block {
  margin-bottom: 0;
}
.container-topnav {
  height: 60px;
}
.header-pipe {
  color: #c6cdd3;
  padding: 0 1.25rem;
}
.ut-header .ut-logo--main {
  max-width: 410px;
  max-height: 40px;
}

header.ut-header .region-header-tertiary [id^="block-sitewidesociallinks"] {
  margin-bottom: 1rem;
}
header.ut-header .region-header-tertiary  .block-search-form-block {
  margin: 0;
  border-radius: 20px;
}

@media screen and (max-width: 475px) {
  .ut-header .ut-logo--main {
    max-height: 25px;
  }
  .ut-header-wrapper button#js-nav-toggle {
    flex: 0 1 auto;
    width: 70px;
    padding: 6px 12px;
    font-size: .85rem;
  }
}

@media screen and (min-width: 75em) {
  header.ut-header {
    height: 218px;
  }
  .ut-header .ut-logo--main {
    max-width: 410px;
    max-height: none;
  }
  .ut-header .ut-logo--main {
    max-height: auto;
  }
  header.ut-header .block-system-branding-block {
    margin-bottom: 0;
    position: absolute;
    top: 65px;
  }
  header.ut-header #ut-main_menu-wrapper.active {
    flex-direction: row;
  }
  .container-topnav {
    background: #f3f5f6;
    height: 48px;
  }
  .container-topnav .parent-banner-links {
      flex: 1 0 auto;
      width: unset;
      height: unset;
  }
  .parent-banner-links > a {
    font-weight: bold;
    font-size: .85rem;
    letter-spacing: 1px;
  }
  .container-topnav .topnav .UT-parent-link {
    float: none;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .container-topnav .topnav .parent-banner-links .UT-parent-link a {
    font-weight: normal;
    font-size: .85rem;
    font-family: "CharisSil", Georgia, serif;
    font-style: italic;
    color: #7a8286;
    letter-spacing: .25px;
    float: none;
    margin-bottom: 0;
    line-height: 1;
    font-size: .9rem;
    display: inline-block;
  }
 .header-top {
    align-items: center;
    height: 3rem;
  }
  header.ut-header .region-header-tertiary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  header.ut-header .region-header-tertiary [id^="block-sitewidesociallinks"] {
    margin: 0 2rem 0 0;
  }
  header.ut-header .region-header-tertiary  .block-search-form-block  {
    margin: 0;
  }
  ul.header-menu__list .header-menu__link {
    padding: 0.3125rem;
    letter-spacing: .25px;
    border-left: 1px solid #c6cdd3;
    padding: 0 1.25rem;
}
  ul.header-menu__list li:first-child .header-menu__link {
    border: none;
  }
  ul.header-menu__list .header-menu__list-item + .header-menu__list-item {
    margin-left: 0;
  }
  header.ut-header #ut-main_menu-wrapper {
    top: 0;
  }
  .region-primary-menu nav#block-accessible-main-menu {
    position: relative;
    top: 42px;
  }
  .main-menu__list-item .main-menu__link {
    background-color: transparent;
  }
  .main-menu__list-item .main-menu__link:hover {
    background-color: #fff;
  }
  .sub-nav-wrapper.open .main-menu__list--subnav {
    background: #fff;
}
  .main-menu__list-item .main-menu__link.open {
    z-index: 3;
    margin-top: 0.0625rem;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    background: #fff;
  }
  .main-menu__list-item .main-menu__link {
    padding-bottom: 8px;
    background: transparent;
  }
}

