/***********************************************************************/
/***********************   Custom CSS overrides   **********************/
/***********************************************************************/
.hiddenText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Make upper header EEV styles. */
header.ut-header .ut-upper-header {
  background: #f3f5f6;
  height: 56px;
}
header.ut-header div.region.region-header-tertiary {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  #block-tec-common-theme-mishellshoppingcart {
    flex: 0 100%;
    #mishell-cart {
      justify-content: end;
    }
  }
}
/* For social link icons override speedway. */
.block__ut-social-links--items {
  display: flex;
  flex-wrap: wrap;
  gap: 0 6px;
}
/* Footer Styling. */
.ut-footer {
  border-top: 0;
  background-color: #333f48;
  padding-top: 46px;
  color: #fff;
  a,
  h2,
  h3,
  h4 {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .block-menu-block {
    .subnav {
      li {
        a,
        a.is-active,
        span {
          color: #fff;
          background-color: transparent;
          text-decoration: none;
          border-left: 0;
          padding: 0;
          margin: 0;
          font-weight: normal;

          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }
  .block__ut-social-links--link {
    background-color: #fff;
  }
  .footer-lower {
    font-size: .7rem;
  }
}
